
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    Congrats @ViewBag.fullname, you have succesfully purchased @ViewBag.tickets tickets for @ViewBag.totalprice SEK.
</p>

<p>Your confirmation number is: @ViewBag.id</p>

<p>
    Please check your email for the confirmation.
</p>

<p>
    The movie @ViewBag.movie starts at @ViewBag.time in the @ViewBag.salon, your seats are @ViewBag.actualSeats .
</p>

<p>Enjoy the movie!</p>



