@model IEnumerable<Cinema_Labb3.Models.DeNiroSalon>

@{
    ViewData["Title"] = "Index";
}


    <head>
        <link rel="stylesheet" href="~/css/PaccinoAndDeNiroSalons.css" />
    </head>

<script type="text/javascript">

    var entitiesToUpdate = [];
    var actualSeats = [];
    var NoTickets = 0;

    function Order() {
        var entitiesToOneString = "";
        var actualSeatsToOneString = "";

        for (var i = 0; i < entitiesToUpdate.length; i++) {
            entitiesToOneString = entitiesToOneString.concat(entitiesToUpdate[i] + ",");
        }
        for (var i = 0; i < actualSeats.length; i++) {
            actualSeatsToOneString = actualSeatsToOneString.concat(actualSeats[i] + ",");
        }

        document.getElementById("entities").value = entitiesToOneString;
        document.getElementById("NoOfTickets").value = NoTickets;
        document.getElementById("price").value = NoTickets * @ViewBag.price;
        document.getElementById("actualSeats").value = actualSeatsToOneString;
    };

    function SaveSeat(entities, seats) {

        ToggleOccupied(entities, seats);

        if (NoTickets > 12) {
            document.getElementById("submit").disabled = true;
            alert("You can only reserve a maximum of 12 tickets, please unselect seats so that the total number of tickets is less than 12");
        }
        if (NoTickets < 13) {
            document.getElementById("submit").disabled = false;
        }
    }




    function ToggleOccupied(entities, seats) {

        console.log(document.getElementById(entities).value);

                console.log( typeof document.getElementById(entities).value);


        if (document.getElementById(entities).value == "true" ) {
            document.getElementById(entities).style.backgroundColor = "darkblue";
            document.getElementById(entities).style.color = "darkblue";

            document.getElementById(entities).value = "false";

            NoTickets = NoTickets + 1;
            entitiesToUpdate.push(entities);
            actualSeats.push(String(seats));

            console.log(entities);
            console.log(document.getElementById(entities).value);


        } else {
            document.getElementById(entities).style.backgroundColor = "darkred";
           document.getElementById(entities).style.color = "darkred";

            document.getElementById(entities).value = "true";

            for (var i = 0; i < entitiesToUpdate.length; i++) {
                if (entitiesToUpdate[i] == entities) {

                    entitiesToUpdate.splice(i, 1);
                }
            }
            for (var i = 0; i < actualSeats.length; i++) {

                if (actualSeats[i] == seats) {
                    actualSeats.splice(i, 1);
                }
            }
            NoTickets = NoTickets - 1;
        }

        Order();
    }
</script>


<div class="d-flex flex-nowrap">
    <div class="order-1 p-2" id="divOneTableSelectSeat">
        <table id="PaccinoTable">
            <thead>
                <tr>
                    <th>
                        <h3 class="screen">Welcome to the De-Niro-Salon</h3>
                        <p>Please select your seats below</p>
                        <div class="cinemaScreen">Cinema Screen</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    @{var seat = 0;}

                    @foreach (var item in Model)
                    {
                        if (seat == 51)
                        {
                            seat = 0;
                        }

                        if (ViewBag.time.Equals("16.00") && item.Id < 101)
                        {
                            seat++;
                    <td>
                        @if (item.Availible == false)
                        {
                            <button class="disabledSeat" id=@item.Id disabled>  </button>

                        }
                        else
                        {
                            <button class="selectSeatButton" id=@item.Id onclick="SaveSeat(@item.Id, @seat)" value=true>   </button>

                        }
                    </td>
                        }
                        else if (ViewBag.time.Equals("19.00") && item.Id > 100 && item.Id < 201)
                        {
                            seat++;
                <td>
                    @if (item.Availible == false)
                    {
                        <button class="disabledSeat" id=@item.Id disabled>  </button>

                    }
                    else
                    {
                        <button class="selectSeatButton" id=@item.Id onclick="SaveSeat(@item.Id, @seat)" value=true>   </button>

                    }
                </td>
                        }
                        else if (ViewBag.time.Equals("21.30") && item.Id > 200)
                        {
                            seat++;
                <td>
                    @if (item.Availible == false)
                    {
                        <button class="disabledSeat" id=@item.Id disabled>  </button>

                    }
                    else
                    {
                        <button class="selectSeatButton" id=@item.Id onclick="SaveSeat(@item.Id, @seat)" value=true>   </button>

                    }
                </td>
                        }
                    }

                </tr>
            </tbody>
        </table>


    </div>


    <div class="order-2 p-2" id="divTwoFormSendtoSalon">
        <form method="post" action="@Url.Action("Payment", "Orders")">
            <label>Full Name</label>
            <div class="form-group">
                <input type="text" id="fullname" name="fullname" value="" required />
            </div>
            <label>Email</label>
            <div class="form-group">
                <input type="text" id="email" name="email" value="" required />
            </div>
            <input type="hidden" id="entities" name="entities" value="" readonly />
            <input type="hidden" id="NoOfTickets" name="NoOfTickets" value="" readonly />
            <label>Movie</label>
            <div class="form-group">
                <input type="text" id="movie" name="movie" value="@ViewBag.movie" readonly />
            </div>
            <label>Price</label>
            <div class="form-group">
                <input type="text" id="price" name="price" value="" readonly />
            </div>
            <label>Time</label>
            <div class="form-group">
                <input type="text" id="time" name="time" value="@ViewBag.time" readonly />
            </div>
            <input type="hidden" id="salon" name="salon" value="Paccino-Salon" readonly />
            <label>Seats</label>
            <div class="form-group">
                <input type="text" id="actualSeats" name="actualSeats" value="" readonly />
            </div>
            <input type="submit" class="btn btn-primary" id="submit" onclick="Order()" value="Reserve" />

        </form>

    </div>
</div>






