@model IEnumerable<Cinema_Labb3.Models.DeNiroSalon>

@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript">



    var entitiesToUpdate = [];
    var NoTickets = 0;

    function UpdateDb() {


        var params = { data: entitiesToUpdate, tickets: NoTickets, movie: "@ViewBag.movie", price: "@ViewBag.price", time: "@ViewBag.time" };

        $.ajax({
            type: "GET",
            url: "/DeNiroSalons/EditAvailible",
            data: params,
            dataType: "json",
            traditional: true
        });

    };

    function SaveSeat(seat) {

        ToggleOccupied(seat);
    }




    function ToggleOccupied(seat) {

        if (document.getElementById(seat).value !== true) {
            document.getElementById(seat).style.background = "red";
            document.getElementById(seat).value = true;

            NoTickets = NoTickets + 1;
            entitiesToUpdate.push(seat.toString(16));

        } else {
            document.getElementById(seat).style.background = "grey";
            document.getElementById(seat).value = false;

            for (var i = 0; i < entitiesToUpdate.length; i++) {

                if (entitiesToUpdate[i] == seat) {
                    entitiesToUpdate.splice(i, 1);
                }
            }
            NoTickets = NoTickets - 1;
        }


    }






</script>



<h1>Select seats in the DeNiro-Salon</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Availible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                if (ViewBag.time.Equals("16.00") && item.Id < 101)
                {
                    <td id=@item.Id>
                        <button id=@item.Id onclick="SaveSeat(@item.Id)">  @item.Availible.ToString().ToLower() </button>
                    </td>
                }
                else if (ViewBag.time.Equals("19.00") && item.Id > 100 && item.Id < 201)
                {
                    <td id=@item.Id>
                        <button id=@item.Id onclick="SaveSeat(@item.Id)">  @item.Availible.ToString().ToLower() </button>
                    </td>
                }
                else if (ViewBag.time.Equals("21.30") && item.Id > 200)
                {
                    <td id=@item.Id>
                        <button id=@item.Id onclick="SaveSeat(@item.Id)">  @item.Availible.ToString().ToLower() </button>
                    </td>
                }


            }

        </tr>
    </tbody>
</table>

<button onclick="UpdateDb()"></button>


