@model IEnumerable<Cinema_Labb3.Models.DeNiroSalon>

@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript">



    var entitiesToUpdate = [];
    var actualSeats = [];

    var NoTickets = 0;



    function Order() {
        var entitiesToOneString = "";
        var actualSeatsToOneString = "";


        for (var i = 0; i < entitiesToUpdate.length; i++) {
            entitiesToOneString = entitiesToOneString.concat(entitiesToUpdate[i] + ",");
        }
        for (var i = 0; i < actualSeats.length; i++) {
            actualSeatsToOneString = actualSeatsToOneString.concat(actualSeats[i] + ",");
        }

        document.getElementById("entities").value = entitiesToOneString;
        document.getElementById("price").value = NoTickets * @ViewBag.price;
        document.getElementById("actualSeats").value = actualSeatsToOneString;

    };

    function SaveSeat(entities, seats) {

        ToggleOccupied(entities, seats);

        if (NoTickets > 12) {
            document.getElementById("submit").disabled = true;
            alert("You can only reserve a maximum of 12 tickets, please unselect seats so that the total number of tickets is less than 12");
        }
        if (NoTickets < 13) {
            document.getElementById("submit").disabled = false;
        }
    }




    function ToggleOccupied(entities, seats) {

        if (document.getElementById(entities).value !== true) {
            document.getElementById(entities).style.background = "red";
            document.getElementById(entities).value = true;

            NoTickets = NoTickets + 1;
            entitiesToUpdate.push(entities);
            actualSeats.push(String(seats));


        } else {
            document.getElementById(entities).style.background = "grey";
            document.getElementById(entities).value = false;

            for (var i = 0; i < entitiesToUpdate.length; i++) {

                if (entitiesToUpdate[i] == entities) {
                    entitiesToUpdate.splice(i, 1);
                }
            }
            for (var i = 0; i < actualSeats.length; i++) {

                if (actualSeats[i] == seats) {
                    actualSeats.splice(i, 1);
                }
            }
            NoTickets = NoTickets - 1;
        }

        var NoTicketsToString = NoTickets.toString();
        document.getElementById("NoOfTickets").value = NoTicketsToString;


        Order();
    }






</script>



<h1>Select seats in the Paccino-Salon</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Availible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{var seat = 0;}

            @foreach (var item in Model)
            {
                if (seat == 101)
                {
                    seat = 0;
                }


                if (ViewBag.time.Equals("16.00") && item.Id < 101)
                {
                    seat++;
                    <td id=@seat>
                        @if (item.Availible == false)
                        {
                            <button id=@item.Id disabled>  @item.Availible.ToString().ToLower() </button>

                        }
                        else
                        {
                            <button id=@item.Id onclick="SaveSeat(@item.Id, @seat)">  @item.Availible.ToString().ToLower() </button>

                        }
                    </td>
                }
                else if (ViewBag.time.Equals("19.00") && item.Id > 100 && item.Id < 201)
                {
                    seat++;
                    <td id=@item.Id>

                        @if (item.Availible == false)
                        {
                            <button id=@item.Id disabled>  @item.Availible.ToString().ToLower() </button>

                        }
                        else
                        {
                            <button id=@item.Id onclick="SaveSeat(@item.Id, @seat)">  @item.Availible.ToString().ToLower() </button>

                        }
                    </td>
                }
                else if (ViewBag.time.Equals("21.30") && item.Id > 200)
                {
                    seat++;
                    <td id=@item.Id>
                        @if (item.Availible == false)
                        {
                            <button id=@item.Id disabled>  @item.Availible.ToString().ToLower() </button>

                        }
                        else
                        {
                            <button id=@item.Id onclick="SaveSeat(@item.Id, @seat)">  @item.Availible.ToString().ToLower() </button>

                        }
                    </td>
                }
            }

        </tr>
    </tbody>
</table>NoOfTickets

<form method="post" action="@Url.Action("Payment", "Orders")">
    <input type="text" id="fullname" name="fullname" value="" required />
    <input type="text" id="email" name="email" value="" required />
    <input type="hidden" id="entities" name="entities" value="" readonly />
    <input type="text" id="NoOfTickets" name="NoOfTickets" value="" readonly />
    <input type="text" id="movie" name="movie" value="@ViewBag.movie" readonly />
    <input type="text" id="price" name="price" value="" readonly />
    <input type="text" id="time" name="time" value="@ViewBag.time" readonly />
    <input type="text" id="salon" name="salon" value="@ViewBag.salon" readonly />
    <input type="text" id="actualSeats" name="actualSeats" value="" readonly />


    <input type="submit" id="submit" onclick="Order()" value="Confirm" />

</form>

<button onclick="Order()"></button>