@model IEnumerable<Cinema_Labb3.Models.Movies>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    window.onload = function () {

        if (@ViewBag.firstViewingPaccinoSalon === 0) {
            document.getElementById("availibleSeatsFirstViewing").style.color = "red";
        }
        if (@ViewBag.secondViewingPaccinoSalon === 0) {
            document.getElementById("availibleSeatsSecondViewing").style.color = "red";
        }
        if (@ViewBag.thirdViewingPaccinoSalon === 0) {
            document.getElementById("availibleSeatsThirdViewing").style.color = "red";
        }
        if (@ViewBag.firstViewingDeNiroSalon === 0) {
            document.getElementById("availibleSeatsFirstViewingDeNiro").style.color = "red";
        }
        if (@ViewBag.secondViewingDeNiroSalon === 0) {
            document.getElementById("availibleSeatsSecondViewingDeNiro").style.color = "red";
        }
        if (@ViewBag.thirdViewingDeNiroSalon === 0) {
            document.getElementById("availibleSeatsThirdViewingDeNiro").style.color = "red";
        }
  }
       
    function sortAvailibleSeats() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("moviesTable");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[5];
                y = rows[i + 1].getElementsByTagName("TD")[5];

                if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function sortTimeOfViewing() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("moviesTable");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
            
                x = rows[i].getElementsByTagName("TD")[3];
                y = rows[i + 1].getElementsByTagName("TD")[3];
                console.log(x.innerHTML.toLowerCase());
                console.log(y.innerHTML.toLowerCase());
                if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
  
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>

<h1>Todays Films</h1>

<table class="table" id="moviesTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                <a>Film</a>

            </th>
            <th>
                <a>Price</a>
            </th>
            <th>
                <a onclick="sortTimeOfViewing()">Time</a>
            </th>
            <th>
                <a>Salon</a>

            </th>
            <th>
                <a onclick="sortAvailibleSeats()">Availible Seats</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* https://www.youtube.com/watch?v=ShQRrrhrNCY*@
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                    }
                    <img src="@imgSrc" style="max-width: 100px; max-height:100px" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td id="price">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon)
                </td>
                <td>

                    @{

                        if (item.Salon.Equals("Paccino-Salon") && item.Time.Equals("16.00"))
                        {
                            <p id="availibleSeatsFirstViewing"> @ViewBag.firstViewingPaccinoSalon</p>
                        }
                        else if (item.Salon.Equals("Paccino-Salon") && item.Time.Equals("19.00"))
                        {
                            <p id="availibleSeatsSecondViewing"> @ViewBag.secondViewingPaccinoSalon </p>
                        }
                        else if (item.Salon.Equals("Paccino-Salon") && item.Time.Equals("21.30"))
                        {
                            <p id="availibleSeatsThirdViewing"> @ViewBag.thirdViewingPaccinoSalon </p>
                        }
                        else if (item.Salon.Equals("De-Niro-Salon") && item.Time.Equals("16.00"))
                        {
                            <p id="availibleSeatsFirstViewingDeNiro">  @ViewBag.firstViewingDeNiroSalon </p>
                        }
                        else if (item.Salon.Equals("De-Niro-Salon") && item.Time.Equals("19.00"))
                        {
                            <p id="availibleSeatsSecondViewingDeNiro">  @ViewBag.secondViewingDeNiroSalon </p>
                        }
                        else if (item.Salon.Equals("De-Niro-Salon") && item.Time.Equals("21.30"))
                        {
                            <p id="availibleSeatsThirdViewingDeNiro">  @ViewBag.thirdViewingDeNiroSalon </p>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Salon.ToString().Equals("Paccino-Salon"))
                        {
                            <button class="btn btn-primary">
                                @Html.ActionLink("Köp", "SelectSeatsPaccinoSalon", "Orders", new { Name = item.Name, Price = item.Price, time = item.Time, salon = item.Salon }, null)
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary">
                                @Html.ActionLink("Köp", "SelectSeatsDeNiroSalon", "Orders", new { Name = item.Name, Price = item.Price, time = item.Time, salon = item.Salon }, null)
                            </button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


